* {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --scrollbar-thumb: #15171a;
    --scrollbar-thumb-hover: #373c44;
}

body {
    height: 100%;
    width: 100%;
}

a {
    color: #7b1fa2;
}

a:active {
    color: inherit;
}

::-webkit-scrollbar {
    padding-right: 5px;
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

.swal2-styled.swal2-cancel:focus {
    box-shadow: 0 0 0 3px #D5485D;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px #6C1990;
}

.swal2-container.swal2-center.swal2-backdrop-show {
    overflow-y: auto;
    background: rgba(1, 1, 1, .9);
    z-index: 1200;
}

.FTextFieldTruncated input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}